process {
    withLabel: hisat2 { cpus =  8 ; maxRetries = 3 ; errorStrategy = { task.exitStatus in 134 ? 'retry' : 'terminate' } }
    withLabel: deseq2 { cpus = 12 }
    withLabel: fastp { cpus = 12 }
    withLabel: fastqc { cpus = 1 }
    withLabel: subread { cpus = 12 }
    withLabel: sortmerna { cpus = 12 }
    withLabel: trinity { cpus = 24 }
    withLabel: stringtie { cpus = 24 }
    withLabel: busco { cpus = 8 }
    withLabel: dammit { cpus = 48 }
    withLabel: rattle { cpus = 48 }
    withLabel: smallTask { cpus = 1 }
}
